<div class="container mt-4">
  <div style="text-align: center">
    <div class="row">
      <div class="col-11 text-left">
        <h2>Quality Home</h2>
        <a class="nav-link" [routerLink]="['/prime']"><h4><i class="fa fa-arrow-left"></i></h4></a>
      </div>
    </div>
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-md-3">
          <h3><i class="fa fa-globe"></i></h3>
          <a class="nav-link" [routerLink]="['/ncr']"><h3>Ncrs</h3></a>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-book"></i></h3>
          <a class="nav-link" [routerLink]="['/internalaudit']"><h3>Internal Audits</h3></a>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-binoculars"></i></h3>
          <h3>Incoming Inspection</h3>
      </div>
      <div class="col-md-3">
          <h3><i class="fa fa-magnet"></i></h3>
          <h3>Engineering</h3>
    </div>
  </div>
  <br>
  <br>
  </div>

</div>