<div class="container mt-5">
  <div *ngIf="!createMode">
      <div class="row">
        <div class="col-11 text-left">
          <h2>Scrum</h2>
          <a class="nav-link" [routerLink]="['/prime']"><h4><i class="fa fa-arrow-left"></i></h4></a>
        </div>
      </div>
      <div style="text-align: left">
          <button class="btn btn-primary btn-md"  (click)="createToggle()">Create</button>
      </div>
    <!--
    <div class="container mt-3">
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadScrums()" novalidate>
      
        <div class="form-group px-2">
          <label for="scrumStatus">Show: </label>
          <select class="form-control ml-1" style="width: 130px" id="scrumStatus" 
            [(ngModel)]="scrumParams.scrumStatus" name="scrumStatus">
            <option *ngFor="let scrumStatus of statusList" [value]="scrumStatus.value"> 
              {{scrumStatus.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button>
         
      </form>
    </div>
    -->
    <br>
    <!-- <form [formGroup]="service.form" class="normal-form">
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="" formControlName="$key">
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>

        </mat-grid-tile>
      </mat-grid-list>
    </form> -->
    <div class="mat-app-background">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table *ngIf="isScrumDataLoaded" [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
        <!-- Position Column -->
        <ng-container matColumnDef="Created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.dateCreated}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Responsible">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsible </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.responsibleId}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.action}} </td>
        </ng-container>
    
        <!-- Due Column -->
        <ng-container matColumnDef="Due">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.dueDate}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.scrumStatus}} </td>
        </ng-container>

        <!-- Completed Column -->
        <ng-container matColumnDef="Completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.dateCompleted}} </td>
        </ng-container>

        <!-- Notes Column -->
        <ng-container matColumnDef="Notes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
          <td mat-cell *matCellDef="let scrum"> {{scrum.notes}} </td>
        </ng-container>

            <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <mat-paginator #paginator
                   [pageIndex] ="0"
                   [pageSize]="100" 
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  </div>
    <!-- <br>
    <div class="row" style="text-align: left">
      <table datatable class="row-border hover">
        <thead>
        <tr>
          <th>Created</th>
          <th>Responsible</th>
          <th>Action</th>
          <th>Due</th>
          <th>Status</th>
          <th>Completed</th>
          <th>Notes</th>
          <th></th>
        </tr> -->
        <!--<tr>
          <th style="width: 10%">Created</th>
          <th style="width: 10%">Responsible</th>
          <th style="width: 25%">Action</th>
          <th style="width: 10%">Due</th>
          <th style="width: 10%">Status</th>
          <th style="width: 10%">Completed</th>
          <th style="width: 20%">Notes</th>
          <th style="width: 5%"></th>
        </tr>-->
      <!-- </thead>
      <tbody>
        <tr *ngFor="let scrum of scrums">
          <td>{{scrum.dateCreated | date}}</td>
          <td>{{scrum.responsible}}</td>
          <td>{{scrum.action}}</td>
          <td>{{scrum.dueDate | date}}</td>
          <td>{{scrum.scrumStatus}}</td>
          <td>{{scrum.completionDate | date}}</td>
          <td>{{scrum.notes}}</td>
          <td><button class="btn btn-info" (click)="editScrumsModal(scrum)">Edit</button></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div> -->

  <div *ngIf="createMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-scrum-create (cancelCreate)="cancelCreateMode($event)"></app-scrum-create>
      </div>
    </div>
  </div>
</div>

<!--
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>

</div>
-->