/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }

/* div.container{
  margin: 0px 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10 px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > * {
  width: 100%
} */

body { margin: 0; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
